{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gsa_list_style.css' %}">
    <title>Sound Adjuster</title>
  </head>
  <body style="background: url('/media/instruments/6_string_guitar.jpg')">
    <nav class="navbar navbar-expand-lg navbar-light menu-list">
      <a class="navbar-brand menu-item" href="/gsa">GSA</a>
      <a class="navbar-brand" href="/gsa/help">Help</a>
    </nav>

    {% for instrument in instruments%}
      <section id="instruments">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-4 offset-lg-0 offset-sm-2 col-11 offset-1">
            <div class="card cst">
              <img class="card-img-top img-st" src="{{instrument.picture.path}}" alt="Instrument picture">
              <div class="card-body">
                <p class="card-text">{{instrument.name}}</p>
                <!-- <p>$390</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
