{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{instrument.name}}</title>
    <link rel="stylesheet" href="{% static 'css/gsa_detailed_style.css' %}">
  </head>
  <body style="background: url('{{instrument.picture_path}}')">
    <div class="blurred-layer">
      <div class="header">
        <div class="name">
          <p>{{instrument.name}}</p>
        </div>
      </div>

      <div class="instrument">
        <div class="controls">

          {% for sound in sounds %}
              <div class="sound">
                  <label for="{{sound.sound_name}}">{{sound.sound_name}}</label>
                  <input type="radio"  id="{{sound.sound_name}}" name="sounds" value="{{sound.sound_name}}" class="sounds">
                  <audio src="{{sound.sound_path}}"></audio>
              </div>
          {% endfor %}

        </div>
      </div>

      <script type="text/javascript" src="{% static 'js/gsa_detail_script.js' %}"></script>
    </div>
  </body>
</html>
