body{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

menu-list{
  background-color: rgba(210, 210, 205, 0.7);
  /* margin-bottom: 24px; */
}

.menu-list .menu-item{
  margin-left: 20px;
}

.container{
  margin-top: 60px;
}

.instrument{
  transition: 300ms;
}

.instrument:hover{
  transform: scale(1.03);
  transition: 400ms;
}

.cst{
  transform: scale(1.2);
  padding: 10px 10px 3px 10px;
}

.inst-name{
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.img-st{
  /* margin: 10px; */
}
