.blurred-layer{
  position: absolute;
  transform: translate(-50%, -20%);
  top: 20%;
  left: 50%;
  /* min-width: 600px; */
  min-height: 250px;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: rgba(220, 220, 205, 0.7);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.controls{
  margin: 5px 15px 25px 15px;
  display: flex;
  flex-direction: row;
}

.sound label{
  font-size: 22px;
  font-weight: 800;
  padding: 30px;
  margin: 10px 10px;
  background-color: rgba(210, 210, 205, 0.5);
}

.sound-checked{
  background-color: rgba(89, 111, 151, 0.7);
  border-radius: 8px;
}

.menu-list{
  background-color: rgba(210, 210, 205, 0.3);
}

.menu-item{
  margin-left: 20px;
}

.freq-info{
  font-size: 14px;
}

.inst-name{
  font-size: 23px;
  font-weight: 500;
}

.sound-stat{
  font-size: 19px;
}

.sound-stat span{
  font-weight: 600;
  font-size: 21px;
}

.sound-correction{
  font-size: 19px; 
}