body{
  padding: 0px;
  margin: 0px;
  /* background: linear-gradient(#fcfcfc, #edeef0); */
  height: 100vh;
  background-color: #799c9a;
  background-image: url("/media/stock_6_string1.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.settings, .info{
  padding: 10px 10px;
  margin: 15px 25px 10px 25px;
  border-radius: 12px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  /* width: fit-content; */
  position: fixed;
  text-align: center;
}

.settings{
  background-color: #aff;
  width: 270px;
}

.settings p{
  font-size: 23px;
}

.set-btn{
  padding: 22px 28px;
  margin: 10px;
  border-radius: 6px;
  font-size: 23px;
  font-weight: 700;
}

.info{
  right: 0px;
  background-color: #fab;
  width: 242px;
}

.radiobnts{
  position: fixed;
  margin-top: 15px;
  width: 695px;
  height: 500px;
  background-color: #dfdfdf;
  border: 1px solid #ababab;
  border-radius: 10px;
  transform: translate(50%, 0%);
}

.radiobnts input {
  width: 60px;
  height: 60px;
  position: absolute;
  appearance: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  background: gray;
  color: #ececec;
  font-size: 50px;
  font-family: sans-serif;
  transition: all 0.1s;
  opacity: 0.8;
}



.radiobnts input:checked {
  background: #9a9aff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0px #808080;
  color: black;
}

.radiobnts input::before {
  content: attr(label);
  margin: 3px 12px;
}

#D, #A, #El{
  left: 80px;
}

#G, #B, #Er{
  right: 80px;
}

#D, #G{
  top: 90px;
}

#A, #B{
  top:190px;
}

#El, #Er{
  top: 290px;
}
