*{
  box-sizing: border-box;
}

body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
}

.blurred-layer{
  position: absolute;
  transform: translate(-50%, -20%);
  top: 20%;
  left: 50%;
  /* min-width: 600px; */
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: rgba(220, 220, 205, 0.7);
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 10vh;
}

.controls{
  margin: 5px 15px 25px 15px;
  display: flex;
  flex-direction: row;
}

.sound label{
  font-size: 22px;
  font-weight: 800;
  padding: 10px;
  margin: 10px 10px;
  background-color: rgba(210, 210, 205, 0.5);
}

.sound-checked{
  background-color: rgba(89, 111, 151, 0.7);
  border-radius: 8px;
}

.menu-list{
  background-color: rgba(210, 210, 205, 0.3);
}

.menu-item{
  margin-left: 20px;
}

.freq-info{
  font-size: 14px;
}

.inst-name{
  font-size: 23px;
  font-weight: 500;
}

.sound-stat{
  font-size: 19px;
}

.sound-stat span{
  font-weight: 600;
  font-size: 21px;
}

.sound-correction{
  font-size: 19px; 
}

@media only screen and (max-width: 820px){
  
  body{
    max-height: 100vh;
    overflow: auto; 
    display: flex;
    flex-flow: column;
    left: -50%;
  }

  .blurred-layer{ 
    width: 100%;
    position:static;
    transform: translate(0, 8%);
    top: 0;
    left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: none;
    border-right: none;
    /* flex: 1 1 auto; */
    border-radius: 0;
    background-color: rgba(220, 220, 205, 0.3);
    align-items: center;
    min-height: 80vh;
    margin-top: 0;
    
  }

  .inst-name{
    margin: 3vh 0 8vh 0;
  }

  .controls{
    display: grid;
    grid-template-columns: auto auto auto;
  }
}