body{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

.menu-list{
  background-color: rgba(210, 210, 205, 1);
  /* margin-bottom: 24px; */
}

.container{
  margin-top: 60px;
}

.instrument{
  transition: 300ms;
}

.instrument:hover{
  transform: scale(1.03);
  transition: 400ms;
}

.cst{
  transform: scale(1.2);
  padding: 10px 10px 15px 10px;
}

.img-st{
  /* margin: 10px; */
}
