

#title{
    font-weight: 700;
    font-size: 28px;
}

.blurred-layer{
  position: absolute;
  transform: translate(-50%, -20%);
  top: 20%;
  left: 50%;
  /* min-width: 600px; */
  min-height: 250px;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: rgba(220, 220, 205, 0.7);
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 80px;
  font-size: 24px;
}


.menu-list{
  background-color: rgba(210, 210, 205, 0.7);
  /* margin-bottom: 24px; */
}

.menu-list .menu-item{
  margin-left: 20px;
}